sqlparse
beautifulsoup4
coreapi
coreschema
Django>=2.2,<4.1
djangorestframework
djangorestframework-simplejwt
drf-yasg
django-annoying
django-celery-beat
django-ckeditor
django-cors-headers
django-js-asset
django-ranged-response
django-templated-mail
django-taggit
gunicorn
Jinja2
lxml
pip-compile-multi
pyjwt
psycopg2
psycopg2-binary
pytest
pytest-cov
pytest-django
python-dateutil
python-dotenv
requests 
selenium
celery
redis
flower
webdriver-manager
django-debug-toolbar






