sqlparse
coreapi
coreschema
Django>=2.2,<4.1
djangorestframework
drf-yasg
django-annoying
django-celery-beat
django-ckeditor
django-cors-headers
django-js-asset
django-ranged-response
django-simple-captcha
django-templated-mail
django-taggit
gunicorn
Jinja2
pip-compile-multi
psycopg2
psycopg2-binary
pytest
pytest-cov
pytest-django
python-dateutil
python-dotenv
celery
redis
flower
# django-debug-toolbar






